/** THEMES **/
.darkbg {
    background-image: url('https://2.bp.blogspot.com/-R2Jw_Z2lXEc/V1sqJ5gYUwI/AAAAAAAA9sw/E8uGbBdlzswf2kpfLXGc1zYAeD499necACLcB/s1600/yellowdots.PNG');
    background-attachment: fixed;
    background-repeat: repeat;
	background-size: 14%;
}
.darkbg .togglehover_img a, .magicbg .togglehover_img a, .darkbg .darkbgonly {
	display: block !important;
}
.darkbg footer p, .darkbg #blog-pager, .darkbg footer .nav .col-md-9 #searchwrapper,
.darkbgonly {
    display: none;
}

.darksearch {
    position: absolute;
    top: 0;
    right: 0;
}
.darkbg blockquote {
	border: 5px solid #89C6DB;
	box-shadow: 0 0 0 0 transparent;
}
.darkbg .post a, .darkbg .post a:hover {
    box-shadow: inset 0 0 0 transparent;
}
.darkbg a:focus, .darkbg a:hover, .darkbg a:active {
    color: #E1C348 !important;
}
.darkbg a:visited {
    text-decoration: none;
    color: #2b5c6c !important;
}
.darkbg a, .darkbg button, .darkbg a.button, .darkbg button a, .darkbg a.button:hover, .darkbg button a:hover  {
    text-decoration: none;
    color: #057596 !important;
}
.darkbg #navbar label div {
	background: #000 !important;
}
.darkbg .center-circle {
    background-color: #057596;
}
.darkbg .top a {
    padding: 27px 15px !important;
    border-radius: 43px !important;
    background: #fff !important;
}
.darkbg nav.nav.navbar-nav.navbar.navbar-fixed-bottom {
    /*position: relative;
    bottom: 0px;
    right: 0px;
    float: right;*/
    background: transparent;
}
.darkbg .content-main .main.section {
    border: 1px solid #E1C348 !important;
	border-radius: 0px 0px 0px 0px !important
}
.darkbg .silly {
    border: 5px solid #E1C348;
    padding: 12px 5px;
}
.darkbg .main-container {
	margin-top: 10px !important;
}
