/** THEME MAGIC BG is the starry one **/
.magicbg  .center-circle, #___follow_0, .g-profile,
.magicbg  #blog-pager #blog-pager-newer-link, .magicbg  #blog-pager #blog-pager-older-link,
.magicbg  .post-labels2, .magicbg  #navbar ul .divider
 { display: none; }
.magicbg {
	/*background-image: url('https://4.bp.blogspot.com/-_xyRPIqCum0/V1qBwXCkkoI/AAAAAAAA9rA/0tGckrbOyuMcV49Yg8XVnkwIiUsn-oXcACLcB/s1600/57416_10100876575891850_859008630_o.jpg'); */
	background-attachment: fixed; 
    background-size: 100%; 
	background: #000;
}
.magicbg .showit {
	display: block !important;
}
.magicbg .silly, .magicbg .silly a {
    background: transparent;
    color: #fff;
}
.magicbg .tips {
    border: 1px solid #1897c0;
    background: #666;
}
.magicbg aside .toggle-inside li {
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
    box-shadow: 0 0 0 transparent;
}
.magicbg .Header h1 a, .magicbg .Header h1 {
    font: 22px/18px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}
.magicbg  blockquote {
    border: 5px solid #E3E3C7;
	background: #333;
}
.magicbg  .content-main .main.section {
	background: rgb(85, 85, 85);
}
.magicbg, .magicbg h1, .magicbg p, .magicbg a,
.magicbg .Header h1 a, .magicbg .Header h1, .magicbg h2 span, .magicbg h2,
.magicbg .content-main .main.section  {
    color: #fff !important;
	font-family: 'Lucida Grande', Helvetica, open-sans, sans-serif;
    font-weight: 100;
}
.magicbg .post a, .magicbg .post a:hover {
    box-shadow: inset 0 -4px 0 #555;
}
.magicbg .jump-link a, .magicbg a.home-link, .magicbg a.home-link:visited, .magicbg .button, .magicbg #blog-pager-older-link a, 
.magicbg #blog-pager-newer-link a, .magicbg #Label1 select, .magicbg .mbt-pager li a span {
    border-radius: 0;
    font-size: 2rem;
    color: #fff !important;
    font-weight: normal;
}
.magicbg .jump-link a, .magicbg a.home-link, .magicbg a.home-link:visited {
    box-shadow: 0px 0 1px 1px #000;
}
.magicbg .mbt-pager li.next:hover, .magicbg .mbt-pager li.previous:hover {
    background: #000000;
}
.magicbg button, .magicbg a.button, .magicbg button a, .magicbg a.button:hover, .magicbg button a:hover,
.magicbg a, .magicbg a:focus, .magicbg a:hover, .magicbg a:visited {
	color: #70bce2  !important;
    text-decoration: none;
}
.magicbg .alert {
    color: #333 !important;
    background-color: #f7c4a9;
}
.magicbg footer .navbar {
    color: #000;
    background: rgba(85, 85, 85, 0.81);
}
.magicbg ul.dropdown-menutoggle {
    background: #000;
}
.magicbg #navbar label div {
    background: #337AB7;
}
.magicbg .introwrapper {
    background: transparent;
	border: 0px solid transparent;
}
.magicbg .main-container {
	margin-top: 0px !important;
}
/****END theme magic**/
